
/* 设置顶部蓝色导航条的样式 */
.blog-nav {
	width: 100%;
	height: 42px;
	background-color:#428BCA;
}

@media screen and (min-width: 992px) {
	.container { width: 960px; }
}

/* 设置顶部蓝色导航条中的链接的样式 */

.blog-nav ul li {
	height: 42px;
	display: table;
	list-style: none;
	margin-right: 24px;
}

.blog-nav ul li:first-child {
	padding-left: 8px;
}

.blog-nav ul li a {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	font-family: "Times New Roman";
	font-size: 11pt;
}

/* 设置小三角形 */
.small-triangel {
	display: block;
	width: 0;
	height: 0;
	position: relative;
	top: 36px;
	visibility: hidden;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 7px solid #fff;
}

.triangel-1 { left: -22px; }
.triangel-2 { left: -50px; }
.triangel-3 { left: -22px; }
.triangel-4 { left: -37px; }
.triangel-5 { left: -22px; }

/*.display-block { display: block; }*/
.vv { visibility: visible; }

.blog-nav ul li:not(:first-child) { margin-left: -10px; }

/* 设置链接的透明度 */
.blog-nav ul li a { opacity: 0.6; }
.blog-nav ul li a:hover { opacity: 1; }
.opac-1 { opacity: 1 !important; }

a:hover,
a:visited { text-decoration: none; }

/* 设置博客标题距导航栏的距离 */
.blog-title { margin-top: 58px; }

/* 博客标题中的标题1 */
.blog-title h1 { 
	font-size: 48pt;
	font-family: "Arial";
	font-weight: normal;
 }

 .blog-title p {
 	font-size: 18pt;
 	font-family: "Times New Roman";
 	/*letter-spacing: 2px;*/
 }

 /* 设置字体 */
 .TNR { font-family: Georgia, "Times New Roman", Times, serif; }

 /* 设置日期的样式 */
 .date {
 	font-size: 14pt;
 	/*font-family: Georgia, "Times New Roman", Times, serif;*/
 }

 /* 设置普通的文本内容 */
 .text-content { 
 	font-size: 14pt;
 	line-height: 1.7; 
 }

 /* 设置字体加粗 */
 .text-bold { font-weight: bold; }

 /* 设置容器的右边框 */
 .border-left {
	border-left: 3px solid #ccc;
	padding: 5px 20px;
 }

 /* 设置代码的样式 */
 code {
 	display: block;
 	color: #A67551;
 	padding: 10px 7px;
 	border: 1px solid #ccc;
 	background-color: #F5F5F5;
 	margin-bottom: 10px;
 }

 /* 设置第2栏子标题 */
 .subtitle-2 { margin-top: 40px; }

 /* 设置第3栏子标题 */
 .subtitle-3 { margin-top: 40px; }

 /* 定义自定义样式的底部导航 Previous Next */
 ul.pager li a{
 	width: 144px; 
 	height: 52px;
 	font-size: 14pt;
 	padding-top: 13px;
 	border-radius: 25px;
 }

 /* 设置 Previous Next 指示箭头的样式*/
.pager {text-align: left ;}

.pager .left,
.pager .right {
	position: relative;
 	bottom: 2px;
}

 .pager .left { margin-right: 5px; }

 .pager .right { margin-left: 5px; }

 .pager li:first-child a { padding-left: 20px; }

 .pager li:last-child a { padding-left: 42px; }

 /* 设置blog中右侧的内容 */

 div.panel {
 	border:1px solid transparent;
 	border-radius: 3px;
 	background-color: #F5F5F5;
 	padding-left: 14px;
 	padding-right: 10px;
 	margin-top: 34px;
 }

 div.list { margin-top: 40px; }

 /* 设置list */
 ul.list1,
 ul.list2 { margin-left: -40px; }


 ul.list1 li,
 ul.list2 li { list-style: none; }

 .list-head:nth-of-type(2) { margin-top: 124px; }

 /* 设置footer */
 footer {
 	display: table;
 	width: 100%;
 	height: 134px;
 	text-align: center;
 	border-top: 1px solid #ccc;
 	margin-top: 30px;
 	background-color: #F9F9F9;
 }

 footer p { 
	display: table-cell;
	vertical-align: middle;
 }