/* 为外部容器定义样式 */
#container {
	height: 477px;
	margin: 0 auto;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	overflow: hidden; /* 定义溢出的图片不显示 */
	position: relative;
}

/* 定义图片的样式 */
#container img {
	position: absolute;
	display: block; /* 将行内元素转换为块元素 img为行内元素*/
	left: 0;
	border-left: 1px solid #ccc;
}