/* 设置body的背景图片，也就是整个文档的背景图 */
body {
	height: 100%;
	background: url("../images/cartoon-bj.png") repeat-x;
	background-size: cover; /* 使用这个属性来让背景图片的覆盖范围是覆盖容器的全部空间 */
	overflow: hidden; 
	font-family: "Comic Sans MS","幼圆","黑体",sans-serif; 
}

.clearfloat:before,
.clearfloat:after {
	display: table;
	content: '';
}

.clearfloat:after {
	clear: both;
}


/* ########################################### */
/* 设置奖品列表按钮样式开始 */
.prizeList {
	position: relative;
	z-index: 3;
	width: 35px;
	height: 35px;
	margin-top: 2em;
	margin-left: 2em;
}

.prizeList img {
	width: 30px;
	height: 30px;
}

/* 设置奖品列表按钮样式结束 */
/* ########################################### */


/* ########################################### */
/* 设置成熟度进度条开始 */
/* 设置签到开花时的不断增长的进度条 */
.container {
	position: relative;
	z-index: 2;
  width: 70px;
  margin-top: 7em;
  margin-left: 5em;
  overflow-x: hidden;
}


/* 设置滚动条的最外层的容器 */
.progress {
  height: 5px;
  background: #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 10px;
}

.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 0;
  height: 3px;
  line-height: 3px;
  text-align: right;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  background: #fc6785;
  border-color: #c73321 #b12d1e #8e2418;
  
}

.progress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 11px;
  border-radius: 10px;
}

/* 设置成熟度文字内容 */
.maturity {
	width: 121px;
	height: 24px;
	margin-top: 9px;
	font-size: 0
}

.maturity > span {
	font-size: 12px;
	font-weight: bold;
	font-family: 'Arial';
	color: #5b8842;
}
/* 设置成熟度进度条结束 */
/* ########################################### */


/* ########################################### */
/* 设置浇花的水壶的样式 开始*/
.water-pot {
	position: absolute;
	/*display: none;*/
	right: 2em;
	top: 6em;
}

.water-pot img {
	width: 20em;
}

/* 设置浇花的水壶的样式 结束*/
/* ########################################### */





/* ########################################### */
/* 设置花盆的样式 开始*/
.bubbleAndFlower {
	position: absolute;
	top: 14em;
  left: 15%; /* 2.5em */
}

.flowerpot {
	position: relative;
	width: 11em;
	height: 16em;
}

.flowerpot img {
	position: absolute;
	bottom: 0;
	display: block;
	/*width: 11em;
	height: 16em;*/
	max-width: 100%;
	max-height: 100%;
}

.bubble {
	position: absolute;
	display: none;
	bottom: 3px;
	animation: bubble-day1 4s linear both running;
	/*transform: translate(0px,0px);*/
}

.bubble img {
	width: 40px;
}

/* 动画 */
@keyframes bubble-day1 {
	from { transform: translate(0,0); }
	25% {  transform: translate(6em,-4em); }
	50% { transform: translate(0em,-9em);}
	80% { transform: translate(4em,-14em); opacity: 1;}
	to {  transform: translate(4em,-14em); opacity: 0; }
}

@keyframes bubble-day2 {
	from { transform: translate(0,0); }
	25% {  transform: translate(6em,-4em); }
	50% { transform: translate(-1em,-9em); }
	80% {  transform: translate(2em,-14em); opacity: 1;}
	to {  transform: translate(2em,-14em); opacity: 0;}
}

@keyframes bubble-day3 {
	from { transform: translate(0,0); }
	25% {  transform: translate(6em,-5em); }
	50% { transform: translate(-1em,-8em); }
	80% {  transform: translate(8em,-12em); opacity: 1;}
	to {  transform: translate(8em,-12em); opacity: 0;}
}

@keyframes bubble-day4 {
	from { transform: translate(0,0); }
	25% {  transform: translate(8em,-5em); }
	50% { transform: translate(0em,-9em); }
	80% {  transform: translate(6em,-14em); opacity: 1;}
	to {  transform: translate(6em,-14em); opacity: 0;}
}

@keyframes bubble-day5 {
	from { transform: translate(0,0); }
	/*25% {  transform: translate(182px,-230px); }*/
	40% { transform: translate(7em,-5em); }
	70% {  transform: translate(1em,-11em); opacity: 1;}
	to {  transform: translate(1em,-11em); opacity: 0;}
}

@keyframes bubble-day6 {
	from { transform: translate(0,0); }
	25% {  transform: translate(7em,-5em); }
	50% { transform: translate(-2em,-8em); }
	80% {  transform: translate(1em,-14em); opacity: 1;}
	to {  transform: translate(1em,-14em); opacity: 0;}
}


@keyframes bubble-day7 {
	from { transform: translate(0,0); }
	25% {  transform: translate(7em,-5em); }
	50% { transform: translate(0em,-9em); }
	80% {  transform: translate(9em,-12em); opacity: 1;}
	to {  transform: translate(9em,-12em); opacity: 0}
}

@-webkit-keyframes bubble-day1 {
	from { transform: translate(0,0); }
	25% {  transform: translate(6em,-4em); }
	50% { transform: translate(0em,-9em);}
	80% { transform: translate(4em,-14em); opacity: 1;}
	to {  transform: translate(4em,-14em); opacity: 0; }
}

@-webkit-keyframes bubble-day2 {
	from { transform: translate(0,0); }
	25% {  transform: translate(6em,-4em); }
	50% { transform: translate(-1em,-9em); }
	80% {  transform: translate(2em,-14em); opacity: 1;}
	to {  transform: translate(2em,-14em); opacity: 0;}
}

@-webkit-keyframes bubble-day3 {
	from { transform: translate(0,0); }
	25% {  transform: translate(6em,-5em); }
	50% { transform: translate(-1em,-8em); }
	80% {  transform: translate(8em,-12em); opacity: 1;}
	to {  transform: translate(8em,-12em); opacity: 0;}
}

@-webkit-keyframes bubble-day4 {
	from { transform: translate(0,0); }
	25% {  transform: translate(8em,-5em); }
	50% { transform: translate(0em,-9em); }
	80% {  transform: translate(6em,-14em); opacity: 1;}
	to {  transform: translate(6em,-14em); opacity: 0;}
}

@-webkit-keyframes bubble-day5 {
	from { transform: translate(0,0); }
	/*25% {  transform: translate(182px,-230px); }*/
	40% { transform: translate(7em,-5em); }
	70% {  transform: translate(1em,-11em); opacity: 1;}
	to {  transform: translate(1em,-11em); opacity: 0;}
}

@-webkit-keyframes bubble-day6 {
	from { transform: translate(0,0); }
	25% {  transform: translate(7em,-5em); }
	50% { transform: translate(-2em,-8em); }
	80% {  transform: translate(1em,-14em); opacity: 1;}
	to {  transform: translate(1em,-14em); opacity: 0;}
}


@-webkit-keyframes bubble-day7 {
	from { transform: translate(0,0); }
	25% {  transform: translate(7em,-5em); }
	50% { transform: translate(0em,-9em); }
	80% {  transform: translate(9em,-12em); opacity: 1;}
	to {  transform: translate(9em,-12em); opacity: 0}
}
/* 设置花盆的样式 结束*/
/* ########################################### */


/* ########################################### */
/* 设置活动规则按钮 开始*/
.activity-rule {
	position: absolute;
	left: 50%;
	margin-left: -135px;
	bottom: 0px;
	margin-top: 32px;
}

.activity-rule img {
	width: 270px;
  height: 29px;
}

.activity-rule > a {
	display: inline-block;
}


.activity-rule,
.activity-rule > a {
	height: 44px;
}
/* 设置活动规则按钮 结束*/
/* ########################################### */

/* ########################################### */
/* 设置采摘和浇花两个按钮的样式 开始*/
ul.waterAndPick {
	position: absolute;
	bottom: 57px;
	right: 9px;
	list-style: none;
}

.waterAndPick li {
	margin-top: 15px;
	margin-bottom: 15px;
}

.waterAndPick li img {
	width: 100px;
}

.waterAndPick li:last-child {
	margin-bottom: -22px;
}

.water > a,
.pick > a {
	display: inline-block;
	
}

/* 设置采摘和浇花两个按钮的样式 结束*/
/* ########################################### */


/* 设置采摘之后和未采摘的花盆图片的样式 */
.small-flowerpot {
	position: absolute;
	top: 25px;
  left: 30px;
	list-style: none;
	font-size: 0;
}

.small-flowerpot li {
	display: inline-block;
	position: relative;
	width: 20px;
  height: 36px;
  margin-left: 10px;
}

.small-flowerpot li img {
	position: absolute;
	bottom: 0;
	max-height: 100%;
	max-width: 100%;
}

/* 设置活动规则弹出弹出的遮罩层内容 */
.pullUp {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	margin: auto;
	z-index: 3;
	background-color: rgba(0,0,0,.5);
}

.pullUp .pullUp-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 46%;
	margin: auto;
	background: url("../images/活动规则2@2x.png") no-repeat;
	background-size: 100% 100%;
	border-radius: .3em;
	box-sizing: border-box;
}

.pullUp .delete-button img {
	position: absolute;
	right: 1em;
	width: 1.5em;
}

.pullUp .modal-body {
	color: #5C6F82;
	height: 13.8em;
	overflow-y: scroll;
	padding-right: .7em;
	padding-left: .7em;
	margin-top: 2.65em;
}

.pullUp .modal-body .partner-title {
	font-weight: bold;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* 设置礼品列表弹出的遮罩层 */
.prizeList-pullUp {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	margin: auto;
	z-index: 3;
	background-color: rgba(0,0,0,.5);
}

.prizeList-pullUp .pullUp-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 95%; /* 这是新调节的只用来适配iphone5的宽度 */
	height: 51%;
	margin: auto;
	background: url("../images/礼品列表@2x.png") no-repeat;
	background-size: 100% 100%;
	border-radius: .3em;
	box-sizing: border-box;
}

.prizeList-pullUp .delete-button img {
	position: absolute;
	right: .7em;
	width: 1.8em;
	height: 1.8em;
}

.prizeList-pullUp .modal-body {
	height: 14.9em;
	overflow-y: scroll;
	margin-top: 1.85em;
}

.prizeList-pullUp .item {
	line-height: 2;
	margin-bottom: .4em;
}

.prizeList-pullUp .item .left {
	font-size: 60%;
	float: left;
}

.prizeList-pullUp .item .right {
	float: right;
	font-size: 60%;
}

.prizeList-pullUp .item .limit,
.prizeList-pullUp .item .getTime {
	color: #8B7BBF;
}

/* 选择奖励弹出框 */
.selectAward-pullUp {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*display: none;*/
	margin: auto;
	z-index: 3;
	background: url("../images/签到第1步逻辑2@2x.png") no-repeat;
	background-size: 100% 100%;
}

.selectAward-pullUp .haloAndNumber {
	position: relative;
	top: -.6em;
  left: -.3em;
	width: 13em;
	/*height: 5em;*/
	margin: auto;
}

.selectAward-pullUp .haloAndNumber .number {
	position: absolute;
	top: 2.5em;
  left: 2.95em;  /* 45% */
	font-size: 2em;
	color: #FCDC07;
}

.selectAward-pullUp .haloAndNumber img {
	max-width: 100%;
	height: auto;
	animation: rotate 5s linear infinite;
	-webkit-animation: rotate 5s linear infinite;
}

.selectAward-pullUp .btn-group {
	position: absolute;
	bottom: 7em;
	width: 100%;
}

.selectAward-pullUp .leaveLater {
	width: 80%;
	height: 2em;
	margin: auto;
	background: url("../images/留待日后@2x.png") no-repeat;
	background-size: 100% 100%;
}

.selectAward-pullUp .convert {
	width: 80%;
	height: 2em;
	margin: auto;
	background: url("../images/兑换@2x.png") no-repeat;
	background-size: 100% 100%;
	margin-top: 1.5em;
}

.selectAward-pullUp .convert input {
	display: block;
	width: 100%;
	height: 100%;
	background: url("../images/兑换@2x.png") no-repeat;
	background-size: 100% 100%;
	border: none;
	outline: none;
	opacity: 0;
	/*visibility: hidden;*/
}

.selectAward-pullUp .awardFiche {
  position: fixed;
  z-index: 4;
  width: 90%;
  top: 8.25em;
  left: 2em;
}

.selectAward-pullUp .awardFiche > div {
	position: relative;
	z-index: 4;
	display: inline-block;
	width: 7.2em;
	height: 7em;
}

.selectAward-pullUp .awardFiche > div > img.over {
	position: absolute;
	display: none;
	max-width: 100%;
	height: auto;
}

.selectAward-pullUp .awardFiche > div > img.checked {
	position: relative;
	display: none;
	left: 4em;
	top: 1em;
	width: 1.5em;
	height: 1.5em;
}

.selectAward-pullUp .awardFiche div.fiche1 img.checked {
	top: 1.34em;
	left: 5em;
}

.selectAward-pullUp .awardFiche div.fiche2 img.checked {
	top: 1.37em;
	left: 4em;
}

.selectAward-pullUp .awardFiche div.fiche3 img.checked {
	top: 1.37em;
	left: 4em;
}

.selectAward-pullUp .awardFiche div.fiche4 img.checked  {
	top: 1.37em;
	left: 4em;
}

.selectAward-pullUp .awardFiche .fiche1 {
  top: .37em;
  left: .26em;
}



.selectAward-pullUp .awardFiche .fiche2 {
  top: .37em;
  left: .89em;
}

.selectAward-pullUp .awardFiche .fiche3 {
  top: -.3em;
  left: .265em;
}

.selectAward-pullUp .awardFiche .fiche4 {
  top: -.29em;
  left: .85em;
}



.selectAward-pullUp .awardFiche > div > span {
	position: relative;
  z-index: -1;
  left: .7em;
  top: .1em;
	color: #FCDC07;
	font-size: 2em;
}

/* 恭喜获得奖励弹出框 */
.congratulation-pullUp {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	margin: auto;
	z-index: 3;
	background: url("../images/兑换成功@2x.png") no-repeat;
	background-size: 100% 100%;
}

.congratulation-pullUp .congratulation-content {
	position: fixed;
  top: 20.2em;
  left: 8em;
	color: #fff;
}

.congratulation-pullUp .congratulation-content .coupon {
	font-size: 1.3em;
	font-family: "Comic Sans MS","幼圆","黑体",sans-serif;
}

.congratulation-pullUp .congratulation-content .validity {
	color: #6433D0;
}

.congratulation-pullUp .gotoUse {
	margin: auto;
  position: relative;
  top: 30em;
	width: 9em;
}

.congratulation-pullUp .gotoUse a {
	display: inline-block;
	width: 9em;
	height: 3em;
	background: url("../images/去使用按钮@2x.png") no-repeat;
	background-size: 100% 100%;
}

.congratulation-pullUp img {
	position: fixed;
	width: 2em;
  top: 9em;
  left: 16em;
}


/* 旋转动画 */
@keyframes rotate {
	from { transform: rotate(0deg);  }
	20% { transform: rotate(72deg);  }
	40% { transform: rotate(144deg);  }
	60% { transform: rotate(216deg);  }
	80% { transform: rotate(288deg);  }
	to { transform: rotate(360deg);  }
}

@-webkit-keyframes rotate {
	from { transform: rotate(0deg);  }
	20% { transform: rotate(72deg);  }
	40% { transform: rotate(144deg);  }
	60% { transform: rotate(216deg);  }
	80% { transform: rotate(288deg);  }
	to { transform: rotate(360deg);  }
}

/*适配Iphone5*/
/*@media screen and (max-width: 325px) {
	.congratulation-pullUp .congratulation-content {
		top: 15.5em;
		left: 6.3em;
	}

	.congratulation-pullUp .congratulation-content .coupon {
		font-size: 1.1em;
	}

	.congratulation-pullUp .congratulation-content .txt {
		font-size: 90%;
	}

	.congratulation-pullUp .gotoUse {
		top: 22em;
	}

	.congratulation-pullUp .gotoUse a {
		height: 2.5em;
	}
}*/

/* 适配安卓 */
/*@media screen and (min-width: 330px) and (max-width: 370px) {
	.prizeList-pullUp .item .left {
		font-size: 100%;
	}

	.prizeList-pullUp .item .right {
		transform: translateY(.3em);
		-webkit-transform: translateY(.3em);
	}

	.prizeList-pullUp .item {
		line-height: 2;
		margin-bottom: .1em;
	}

	.prizeList-pullUp .modal-body {
		height: 16.7em;
		margin-top: 2.1em;
	}

	.prizeList-pullUp .delete-button img {
		right: .75em;
		width: 2em;
		height: 2em;
	}
}*/

/* 适配iphone6 */
@media screen and (min-width: 371px) and (max-width: 380px) {
	.prizeList {
		position: relative;
		top: 3.4em;
	}

	.bubbleAndFlower {
		top: 19em;
		left: 15%;
	}

	.container {
		margin-top: 11em;
	}

	.water-pot {
		top: 10em;
		right: 3em;
	}

	.small-flowerpot {
		top: 80px;
	}

	.pullUp .delete-button img {
		right: 1.2em;
		width: 1.9em;
	}

	.pullUp .modal-body {
		margin-top: 3.15em;
    height: 16em;
	}

	.prizeList-pullUp .pullUp-content {
		width: 90%;
	}

	.prizeList-pullUp .delete-button img {
		right: .7em;
    width: 2em;
    height: 2em;
	}

	.prizeList-pullUp .item {
		padding-left: .3em;
		padding-right: .3em;
	}

	.prizeList-pullUp .item .left {
		font-size: 100%;
	}


	.prizeList-pullUp .modal-body {
		height: 17.5em;
		overflow-y: scroll;
		margin-top: 2.15em;
	}

	.prizeList-pullUp .item {
		line-height: 2em;
		margin-bottom: .2em;
	}

	.selectAward-pullUp .haloAndNumber {
		top: 0.5em;
	}

	

	.selectAward-pullUp .awardFiche {
		top: 10.25em;
	}

	.selectAward-pullUp .awardFiche > div {
		width: 8.62em;
	}

	

	.selectAward-pullUp .awardFiche > div > span {
		top: .2em;
		left: 1em;
	}

	.selectAward-pullUp .awardFiche .fiche1 {
	  top: -.24em;
	  left: .51em;
	}

	.selectAward-pullUp .awardFiche .fiche2 {
	  top: -.27em;
	  left: 1.1em;
	}

	.selectAward-pullUp .awardFiche .fiche3 {
	  top: .2em;
	  left: .48em;
	}

	.selectAward-pullUp .awardFiche .fiche4 {
	  top: .2em;
	  left: 1.1em;
	}

	.selectAward-pullUp .awardFiche > div > img.checked {
		width: 1.7em;
		height: 1.7em;
	}

	.selectAward-pullUp .awardFiche div.fiche1 img.checked {
		top: 2em;
		left: 6.5em;
	}

	.selectAward-pullUp .awardFiche div.fiche2 img.checked {
		top: 2em;
		left: 5.5em;
	}

	.selectAward-pullUp .awardFiche div.fiche3 img.checked {
		top: 2em;
		left: 5.5em;
	}

	.selectAward-pullUp .awardFiche div.fiche4 img.checked  {
		top: 2em;
		left: 5em;
	}

	.selectAward-pullUp .leaveLater,
	.selectAward-pullUp .convert {
		height: 2.5em;
	}

	.congratulation-pullUp .congratulation-content {
		top: 18.3em;
		left: 7.3em;
	}

	.congratulation-pullUp .congratulation-content .coupon {
		font-size: 1.1em;
	}

	.congratulation-pullUp .gotoUse {
		top: 27em;
	}

	.congratulation-pullUp .gotoUse a {
		height: 2.7em;
	}

	.congratulation-pullUp img {
		top: 10.6em;
		left: 19em;
	}

}

/* 适配iphone6 plus*/
@media screen and (min-width: 380px) {
	.prizeList {
		position: relative;
		top: 3.4em;
	}

	.bubbleAndFlower {
		top: 23em;
		/*left: 4.5em;*/
	}

	.container {
		margin-top: 14em;
	}

	.water-pot {
		top: 12em;
		right: 4em;
	}

	ul.waterAndPick {
		bottom: 5em;
		right: 3em;
	}
	
	.small-flowerpot {
		top: 80px;
	}

	.prizeList-pullUp .pullUp-content {
		width: 90%;
	}

	.pullUp .delete-button img {
		right: 1.5em;
		width: 2.1em;
	}

	.pullUp .modal-body {
    margin-top: 3.45em;
    height: 17.8em;
	}

	.prizeList-pullUp .delete-button img {
		right: .8em;
    width: 2.3em;
    height: 2.3em;
	}

	.prizeList-pullUp .item {
		padding-left: .7em;
		padding-right: .7em;
	}

	.prizeList-pullUp .item .left {
		font-size: 1em;
	}

	.prizeList-pullUp .modal-body {
		height: 19.4em;
		margin-top: 2.3em;
	}

	.prizeList-pullUp .item {
		line-height: 2.3em;
		margin-bottom: .2em;
		/*height: 2em;*/
	}

	.selectAward-pullUp .haloAndNumber {
		top: 1.1em;
	}

	.selectAward-pullUp .awardFiche {
		top: 11.25em;
	}

	.selectAward-pullUp .awardFiche > div {
		width: 9.5em;
	}

	.selectAward-pullUp .awardFiche > div > span {
		top: .3em;
		left: 1em;
	}

	.selectAward-pullUp .awardFiche > div > img.checked {
		width: 1.7em;
		height: 1.7em;
	}

	.selectAward-pullUp .awardFiche .fiche1 {
		/*position: relative;*/
	  top: -.2em;
	  left: .75em;
	}

	.selectAward-pullUp .awardFiche .fiche2 {
		/*position: relative;*/
	  top: -.21em;
	  left: 1.47em;
	}

	.selectAward-pullUp .awardFiche .fiche3 {
		/*position: relative;*/
	  top: 1em;
	  left: .75em;
	}

	.selectAward-pullUp .awardFiche .fiche4 {
		/*position: relative;*/
	  top: 1em;
	  left: 1.4em;
	}

	.selectAward-pullUp .awardFiche div.fiche1 img.checked {
		top: 2.5em;
		left: 7em;
	}

	.selectAward-pullUp .awardFiche div.fiche2 img.checked {
		top: 2.5em;
		left: 6em;
	}

	.selectAward-pullUp .awardFiche div.fiche3 img.checked {
		top: 2.5em;
		left: 6em;
	}

	.selectAward-pullUp .awardFiche div.fiche4 img.checked  {
		top: 2.5em;
		left: 6em;
	}

	.selectAward-pullUp .btn-group {
		bottom: 8em;
	}

	.selectAward-pullUp .leaveLater,
	.selectAward-pullUp .convert {
		height: 2.7em;
	}

	.congratulation-pullUp img {
		top: 11.7em;
		left: 21em;
	}

}