<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 1.0.0
Purchase: http://wrapbootstrap.com
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>设计师列表</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="../../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <!--<link href="http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">-->

    <!--Beyond styles-->
    <link href="../../assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="../../assets/css/demo.min.css" rel="stylesheet" />
    <link href="../../assets/css/typicons.min.css" rel="stylesheet" />
    <link href="../../assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="../../assets/js/skins.min.js"></script>
    <style>
        .main-container{margin-top: 45px;margin-bottom: 40px;}
        .navbar.bottomSlider{height: 45px!important;width: 100%;position: fixed;z-index: 99999;top:0px;}
        .navbar .sidebar-collapse{left: auto;right: 5px;}
        .back{font-size: 40px;padding-left: 10px;width: 60px;}
        .navbar .sidebar-collapse:hover{-webkit-box-shadow:none;box-shadow:none}
        .navbar .sidebar-collapse{width: 100px;line-height: 45px;font-size: 18px;color: #ffffff;position: absolute;left: 50%;margin-left: -50px;}
        .row{margin: 0px;}
        .orders-container .orders-list .order-item{padding: 0px;}
        .orders-container .orders-list .order-item .item-left{width: 50%;float: left;text-align: left}
        .orders-container .orders-list .order-item .item-left .item-booker{margin: 15px auto}
        .orders-container .orders-list .order-item .item-right{width: 50%;float: left;text-align: right}
        .orders-container .orders-list .order-item .item-right .item-price{margin: 15px auto}
        .col-xs-10,.col-xs-2{height: 50px;line-height: 50px;padding: 0px;font-size: 16px;}
        .col-xs-2{padding-left: 20px;}
        .col-xs-10{padding-right: 20px;}
        .save{width: 100%;height: 40px;color: #ffffff;position: fixed;z-index: 99999;bottom: 0px;background: #2dc3e8;font-size: 16px;}


        .f20{font-size: 20px;}
        .modal-dialog{position: absolute;top: 20%;width: 95%;}
        .modal-dialog p{margin-bottom: 0px;}
        .modal-footer{padding-top: 10px;padding-bottom: 10px;}
        .modal-footer .btn{width: 80px;}
        #myModal button{width: 100%;background: #57b5e3;color: #ffffff;font-size: 20px;}
    </style>

</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
<div class="loading-container">
    <div class="loading-progress">
        <div class="rotator">
            <div class="rotator">
                <div class="rotator colored">
                    <div class="rotator">
                        <div class="rotator colored">
                            <div class="rotator colored"></div>
                            <div class="rotator"></div>
                        </div>
                        <div class="rotator colored"></div>
                    </div>
                    <div class="rotator"></div>
                </div>
                <div class="rotator"></div>
            </div>
            <div class="rotator"></div>
        </div>
        <div class="rotator"></div>
    </div>
</div>
<!--  /Loading Container -->
    <!-- Navbar -->
    <div class="navbar bottomSlider">
        <div class="navbar-inner">
            <div class="navbar-container">
                <div class="navbar-header pull-left">
                    <a href="../Index/index" class="navbar-brand">
                        <small>
                            <i class="fa fa-angle-left back"></i>
                        </small>
                    </a>
                </div>
                <!-- Sidebar Collapse -->
                <div class="sidebar-collapse" id="sign">设计师列表</div>
                <!-- /Sidebar Collapse -->
            </div>
        </div>
    </div>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <div class="orders-container">
            <ul class="orders-list">
                <% for(var i=0; i<data.length; i++){%>
                <li class="order-item" >
                    <a href="javascript:void(0)">
                        <div class="row">
                            <div class="col-xs-2">
                                <label>
                                    <input type="checkbox" sjsId="<%= data[i].id%>" <% if(data[i].isChecked == 1){%>checked<%}%>>
                                    <span class="text"></span>
                                </label>
                            </div>
                            <div class="col-xs-10 text-right"><%= data[i].name%></div>
                        </div>
                    </a>
                </li>
                <%}%>
            </ul>
        </div>
        <button class="save">保 存</button>
    </div>

    <!--Basic Scripts-->
    <script src="../../assets/js/jquery-2.0.3.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!--Beyond Scripts-->
    <script src="../../assets/js/beyond.min.js"></script>
    <script>
        $(function(){
            $(".save").click(function(){
                var stylistIds = '';
                $("input[type='checkbox']").each(function(){
                    if($(this)[0].checked){
                        stylistIds =  stylistIds + $(this).attr('sjsId')+',';
                    }
                })
                if(stylistIds.length > 0){
                    stylistIds = stylistIds.substring(0,stylistIds.length-1);
                }
                var param = {stylistIds:stylistIds};
                $.post('/Index/designer',param, function (data) {
                    if(data['isSuccess']){
                        $("#myModal .f20").html('设计师设置成功');
                        $("#myModal").modal();
                        $("#myModal .modal-footer button").attr('data-dismiss','');
                        $("#myModal .modal-footer button").click(function(){
                            window.location.href = '../Index/designer';
                        })
                    }else{
                        $("#myModal .f20").html(data['errors'][0]);
                        $("#myModal .modal-footer button").attr('data-dismiss','modal');
                        $("#myModal").modal();
                    }
                });
            })
        })
    </script>
<div id="myModal" class="modal modal-darkorange">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p class="f20">设计师设置成功</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">确 定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
<!--  /Body -->
</html>
