body {
	margin: 0;
	padding: 0;
	padding-bottom: 20%;
	background: #ededed;
	/*font-family: "微软雅黑";*/
}

/* 设置顶部预约标题 */
.title {
	position: fixed;
	top: 0%;
	height: 44px;
	line-height: 44px;
	background: #fff;
	text-align: center;
	width: 100%;
	z-index: 2;
}

.title a {
	float: left;
	height: 44px;
	line-height: 44px;
}

.title img {
	width: 25px;
  vertical-align: middle;
  margin-top: -5px;
}

/* 设计选择设计师项的样式 */
.stylist {
	margin-top: 50px;
	background: #fff;
	padding: 1% 3%;
	border-bottom: 1px solid #eee;
}

.stylist > a {
	display: block;
	height: 100%;
}

.iconAndTxt {
	float: left;
}

.iconAndTxt .txt {
	display: inline-block;
	padding-left: 5px;
	transform: translateY(-.8rem);
}

.enter {
	float: right;
	margin-top: .8em;
}

.iconAndTxt img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* 设置清除浮动 */
.clearfloat:before,
.clearfloat:after {
	display: table;
	content: "";
}

.clearfloat:after {
	clear: both;
}

/* 定义洗剪吹和洗吹选项 */
.wcb,
.wc,
.apptime,
.appoutlet {
	background: #fff;
	padding: 10px 20px;
	border-bottom: 1px solid #eee;
}

.apptime,
.appoutlet {
	padding-right: 3%;
}

.apptime > a {
	display: block;
	height: 100%;
}

.appoutlet {
	margin-bottom: 30px;
}

.wcb .left,
.wc .left,
.apptime .left,
.appoutlet .left{
	float: left;
}

.wcb .left span,
.wc .left span{
	display: inline-block;
  transform: translate(4.2vw,-.2rem);
}

img.choose {
	width: 20px;
}

/* 删除原先的价格 */
.wcb del,
.wc del {
	font-size: .9em;
	color: #bbb;
}

.wcb .right,
.wc .right,
.apptime .right,
.appoutlet .right{
	float: right;
}

.wcb .right,
.wc .right {
	font-family: "微软雅黑";
}

.enter,
.apptime .right,
.appoutlet .right {
	color: #bbb;
}


/* 设置项目列表 */
.list-item {
	background: #fff;
	margin-bottom: 8px;
	padding: 10px 15px;
	padding-bottom: 2px;
}

.list-item img.plus {
	width: 25px;
}

.list-item > * {
	font-family: "微软雅黑";
}

.list-item  a {
	display: block;
	height: 100%;
}


.list-item .left {
	float: left;
}

.list-item .right {
	float: right;
}

.list-item .right .price {
	display: inline-block;
	transform: translateY(-7px);
	color: #f00;
}

.list-item div.txt {
	width: 100%;
	padding-right: 25%;
	border-right: 2px solid #ddd;
}

.service-style {
	display: none;
}

.service-style .item {
	padding: 0px 4%;
}

.service-style .right img {
	width: 25px;
}

.service-style .item .txt {
	color: #f00;
}

.service-style .item i {
	display: inline-block;
  width: 36px;
  border-bottom: 3px solid #ddd;
  vertical-align: middle;
  margin: 0 15px;
}

.service-style .item .left {
	float: left;
}

.service-style .item .right {
	float: right;
}



/* 设计页面底部的合计栏样式 */
.total {
	position: fixed;
	line-height: 44px;
	height: 44px;
	bottom: 0;
	width: 100%;
	background: #fff; 
}

.total .left {
	float: left;
	margin-left: 5%;
}

.total .right {
	float: right;
}

.total .price {
	font-family: "微软雅黑";
	color: #f00;
}

.btn {
	display: block;
	background: #fff;
	color: #f00;
	font-size: inherit;
	font-family: "微软雅黑";
	border: 1px solid #f00;
	border-radius: .2em;
	padding: .2em .5em;
	line-height: normal;
	margin-right: 5%;
  margin-top: .5rem;
}

/* 提示订单取消成功 */
.cancel-succ {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	width: 284px;
	height: 100px;
	line-height: 100px;
	margin: auto;
	border-radius: .3em;
	font-size: .9em;
	text-align: center;
	padding-top: 20px 0;
	background: rgba(0,0,0,.5);
	color: #fff;
}

a {
	text-decoration: none;
	color: #000;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

