body {
	margin: 0;
	padding: 0;
	padding-top: 44px;
	padding-bottom: 20%;
	overflow: hidden;
	/*background: #ededed;*/
	/*font-family: "微软雅黑";*/
}

/* 设置标题 */
.title {
	position: fixed;
	top: 0%;
	height: 44px;
	line-height: 44px;
	background: #fff;
	text-align: center;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #eee;
}


.title span {
	display: block;
	width: 85px;
	margin: auto;
}

.title a {
	float: left;
	height: 44px;
	line-height: 44px;
}

.title img {
	width: 25px;
  vertical-align: middle;
  margin-top: -5px;
}

/* banner图和文字 */
.banner-container {
	position: relative;

}

.banner-container .content {
	position: absolute;
	top: 3.2vw;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	text-align: center;
	font-size: 6vw;
}

.banner-container .content .txt1 {
	font-size: 5vw;
}

.banner-container .content .big {
	font-size: 10vw;
}

/* 美币选择 */

.mb-select {
	background: #fff;
	font-family: "微软雅黑";
	padding: 7vw 4vw;
	padding-bottom: 4vw;
}

.mb-select span {
	width: 23vw;
	margin-right: 7vw;
  text-align: center;
  margin-bottom: 3vw;
  display: inline-block;
  padding: 2vw 0;
  border: 1px solid #000;
  border-image-source: url("../img/Image/未选定@3x.png");
  border-image-slice: 80;
	border-image-width: 27px;
	transform: translateX(3vw);
}

.border {
	border-image-source: url("../img/Image/选定框@3x.png") !important;
}

/* 设置立即购买按钮 */
.buy-container {
	padding-top: 8vw;
	background: #fff;
}


.buy-imme {
	width: 90%;
  margin: auto;
  background: #fff;
}

.buy-imme > a {
	display: block;
}

.buy-imme img {
	margin-bottom: 4vw;
}

.buy-imme .txt {
	font-size: 3vw;
  color: #AFAFAF;
  width: 96%;
  margin: auto;
  transform: translateX(8%);
}

/* 美币和活动规则 */
.mb-rules {
	position: absolute;
	bottom: 5vh;
	width: 100%;
}

.mb-rules .content {
	width: 90%;
	text-align: center;
	margin: auto;
	transform: translateX(2vw);
}

.mb-rules i {
	/*display: inline-block;*/
  padding-left: 11vw;
	border-left: 2px solid #E0E0E0;
}


.mb-rules .content > span,
.mb-rules .content > a {
	/*width: 50%;*/
	padding-right: 11vw;
  text-align: center;
  display: inline-block;
}

/* 底部图片 */
.footer {
	position: fixed;
	bottom: 0;
}

/* 设置响应式图片 */
.img-res {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #000;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

@media screen and (width: 320px) {
	.buy-imme .txt {
		transform: translateX(1%);
	}
}

.big, .second, .three, .mb-count {
	font-family: "微软雅黑";
}

