body {
	margin: 0;
	padding: 0;
	padding-top: 89px;
	padding-bottom: 20%;
	background: #ededed;
	/*font-family: "微软雅黑";*/
}

/* 设置标题 */
.title {
	position: fixed;
	top: 0%;
	height: 44px;
	line-height: 44px;
	background: #fff;
	text-align: center;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #eee;
}


.title span {
	display: block;
	width: 85px;
	margin: auto;
}

.title a {
	float: left;
	height: 44px;
	line-height: 44px;
}

.title img {
	width: 25px;
  vertical-align: middle;
  margin-top: -5px;
}

/* 设置选项卡 */
.tab {
	position: fixed;
	top: 44px;
	width: 100%;
	height: 35px;
  line-height: 35px;
	background: #fff;
}

.tab > span {
	display: inline-block;
	width: 20%;
	text-align: center;
}

.tab span {
	/*padding-bottom: 4px;*/
}

.active {
	color: #f00;
	border-bottom: 1px solid #f00;
}

/* 选项卡内容 */

.tab-content {
	display: none;
}
/* 美单缺省 */
.no-orders .content {
	height: 25vh;
	background: url("../img/Image/iconImage/记录缺省图/订单记录缺省@3x.png") no-repeat;
	background-size: 30vw 30vw;
	background-position: center center;
	text-align: center;
}

.no-orders .content span {
	display: inline-block;
	margin-top: 22vh;
}

/* 显示未支付的预约选择 */
.item {
	margin-bottom: 10px;
}

.stylist {
	height: 50px;
	line-height: 50px;
	background: #fff;
	padding-left: 3%;
	padding-bottom: 3px;
}

.stylist .content {
	border-bottom: 1px solid #ddd;
	padding-right: 3%;
}

.iconAndTxt {
	float: left;
}

.iconAndTxt .txt {
	display: inline-block;
	padding-left: 5px;
}

.iconAndTxt .bage {
	display: inline-block;
	color: #bbb;
	font-size: .8em;
}

.enter {
	float: right;
	color: #bbb;
	font-size: .9em;
}

.iconAndTxt img {
	width: 40px;
	border-radius: 50%;
	vertical-align: middle;
}


/* 设计服务信息 */
.container1 {
	/*margin-top: 30px;*/
	background: #fff;
}

.container1 > div {
	height: 36px;
	line-height: 36px;
	padding-left: 3%;
	padding-right: 3%;
	background: inherit;
	color: #ccc;
}

.container1 .left {
	float: left;
}

.container1 .right {
	float: right;
	/*font-size: .9em;
	color: #ccc;*/
}

/* 设置未支付页面中的去支付栏 */
.go-pay {
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	background: #fff;
	padding-left: 3%;
	padding-right: 3%;
}

.go-pay .price {
	color: #f00;
}

.go-pay .left {
	float: left;
}

.go-pay .right {
	float: right;
}

.go-pay .btn {
	padding: .2em .5em;
	border-radius: .2em;
	background: #fff;
	font-size: 1em;
	border: 2px solid #f00;
	color: #f00;
}


/* 设置清除浮动 */
.clearfloat:before,
.clearfloat:after {
	display: table;
	content: "";
}

.clearfloat:after {
	clear: both;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}