body {
	margin: 0;
	padding: 0;
	padding-top: 54px;
	padding-bottom: 20%;
	overflow: hidden;
	background: #ededed;
	/*font-family: "微软雅黑";*/
}

/* 设置标题 */
.title {
	position: fixed;
	top: 0%;
	height: 44px;
	line-height: 44px;
	background: #fff;
	text-align: center;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid #eee;
}


.title span {
	display: block;
	width: 85px;
	margin: auto;
}

.title a {
	float: left;
	height: 44px;
	line-height: 44px;
}

.title img {
	width: 25px;
  vertical-align: middle;
  margin-top: -5px;
}


/* 修改密码 */
.container {
	background: #fff;
	padding-left: 3%;
}

.container > div {
	height: 36px;
	line-height: 36px;
	border-bottom: 1px solid #ddd;
}

input {
	border:none;
	width: 90%;
	padding: .3em;
	outline: none;
}

input,
button {
	font-size: inherit;
}

button {
	display: block;
	margin: auto;
	margin-top: 1em;
	color: #fff;
	background: #f00;
	width: 90%;
	padding: .5em;
	border: none;
	border-radius: .2em;
}