
body {
	font-size: 3em;
	font-family: "微软雅黑";
}

.fluid1 {
	padding-left: 0;
	padding-right: 0;
 }

.carousel {
	margin-bottom: 18px;
}

.carousel .item {
	height: 380px;
}

.carousel-inner .item img {
	width: 100%;
}

/* 对轮播图的指示器进行设置 */
.carousel .carousel-indicators {
	position: absolute;
	width: auto;
	bottom: 20px;
	left: 18%;
	margin-left: 0;
	font-size: 0;
	z-index: 15;
	list-style: none;
}

.carousel .carousel-indicators li {
	display: inline-block;
	width: 130px;
	height: 4px;
	background: #fff;
	margin: -1px;
}

.carousel .carousel-indicators .active {
	background: #f00;
}
/* 结束对轮播图指示器的设置 */


.stylist, .hairstyle {
	border-left: 4px solid #f00;
	padding-left: 12px;
	text-transform: uppercase;
}

.stylist-con, .hairstyle-con {
	margin-bottom: 18px;
	padding-left: 30px;
}

/* 明星设计师轮播图设计 */
/* 使用swiper的设计 */
.swiper-container {
	background: #f7f7f7;
}
.swiper-wrapper {
	height: 300px;
	background: #f7f7f7;
}

.swiper-slide {
	width: 85% !important;
	height: 100%;
	padding-top: 24px;
	padding-bottom: 16px;
	/*padding-left: 16px;*/
	background: #f7f7f7;
}

.swiper-slide img {
	width: 100%;
	height: 260px;
}



/* 发型的banner图和发型师的介绍 */
.hsAndStylistIntro {
	margin-bottom: 40px;
}

.hs-banner {
	margin-bottom: 40px;
}

.hs-banner img {
	width: 100%;
	height: 690px;
}

.stylistIntro {
	padding-right: 2em;
}

.hp {
	float: left;
	margin-left: 30px;
	margin-right: 40px;
}

.hp img {
	width: 134px;
	height: 134px;
}

.intro {
	float: left;
}

.intro .name {
	font-weight: bold;
	zoom: 1.3;
}

.intro .level {
	position: relative;
	top: -10px;
	display: inline-block;
	color: #f00;
	padding: .1em .4em;
	margin-left: 16px;
	/*margin-bottom: 10px;*/
	box-sizing: border-box;
	border: 3px solid #f00;
	font-weight: bold;
	zoom: 0.7;
}

.stylistIntro ul {
	padding-left: 0;
	list-style: none;
}

.stylistIntro ul li {
	display: inline-block;
}

.appoint {
	float: right;
}

/* 设置清除浮动类样式 */
.clearfloat:after,
.clearfloat:before {
	display: table;
	content: "";
}

.clearfloat:after {
	clear: both;
}









