body {
	padding-top: 50px;
	font-family: "微软雅黑";
}
/* 去掉自带的.navbar 的圆角效果 */
.navbar {
	border-radius: 0;
	color: #fff;
	opacity: .8;
	font-size: 1.5em;
}

/* 设置返回按钮 */
.return,
.popular,
.menu {
	height: 50px;
	line-height: 50px;
}

.return span { margin-left: -8px; }

.return .glyphicon { top: 2px; }

.popular {
	position: relative;
	left: 8px;
	letter-spacing: 1px;
}

.menu .glyphicon {
	position: relative;
	top: 4px;
}

/* 设置邀请函 */

.invitation {
	position: relative;
	height: 234px;
	
}

.invitation .text span {
	position: absolute;
	bottom: 15px;
	right: 20px;
	display: inline-block;
	border-right: 1px solid #fff;
	padding-right: 4px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #fff;
	z-index: 2;
}

.invitation img { max-width: 100%; }

/* 设置图标 */
.invitation .icon {
	position: absolute;
	bottom: 18px;
	left: 20px;
}


.invitation .icon span {
	display: block;
    width: 51px;
    height: 46px;
    line-height: 50px;
    border-radius: 35%;
    font: 15pt "Arial";
    padding-top: 11px;
    color: #fff;
    background-color: #EC0606;
    text-transform: uppercase;
    z-index: 2;
}


/* 合伙人设置 */
.partner {
	position: relative;
	height: 350px;
}

.partner img {
	height: 350px;
	max-width: 100%;
}


.partner .content {
	position: absolute;
	top: 30px;
	left: 18px;
	height: 350px;
	color: #fff;
	z-index: 2;
}

.main-text { line-height: 1.3; }

.main-text span {
	font-size: 1pt;
    font-family: "楷体";
    word-spacing: -4px;
    color: #ffe;
    line-height: 2.2;
}

.who .text {
	display: block;
	font-size: 1pt;
	margin-bottom: 5px;
}

.line-thin {
	display: block;
	width: 200px;
	border-bottom: 1px solid #fff;
	margin-left: 66px;
}

.inener-partner {
	margin-top: 6px;
	margin-bottom: 13px;
}

.inener-partner .text {
	display: block;
	font-size: 14pt;
	margin-bottom: 8px;
}

.inener-partner .line-rough {
	display: block;
    width: 196px;
    border-bottom: double 4px #fff;
    margin-left: 70px;
}

.inener-partner .red-text { color: #f00; }

/* 设置二维码区域 */
.QR-code,
.QR-code img,
.QR-code .content { height: 400px; }

.QR-code {
	position: relative;
	padding-bottom: 20px;
}

.QR-code img { max-width: 100%; }

.QR-code .content {
	position: absolute;
	top: 24px;
	left: 30px;
	color: #fff;
}

.inner-QR-code {
	margin-bottom: 3px;
}

.inner-QR-code img {
	display: block;
	width: 100px;
	height: 100px;
}

.QR-code .main-text span { line-height: 1; }

.QR-code .main-text .join,
.QR-code .inner-QR-code .QR-code-recog {
	font-family: "微软雅黑";
	color: #f00;
	font-weight: bold;
}

.QR-code .main-text .join {
	display: block;
	font-size: 17pt;
}

/* 定义合伙人样式 */
.define-partner,
.salon {
	background-color: #1B1C20;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 4px solid #EC0606;
}

.define-partner > div,
.salon > div {
	margin-left: 40px;
    margin-right: 40px;
}

.what,
.red-salon { margin-bottom: 15px; }

.what > span { display: inline-block; }

.define-partner .what-parnter {
	color: #EA3232;
	font-size: 10pt;
	font-weight: bold;
}

.define-partner .line-bot {
	width: 190px;
	border-bottom: 1px solid #f00;
	margin-bottom: 4px;
}

.define-text {
	display: block;
	color: #5f5f5f;
	border-left: 1px solid #f00;
	font-size: 7pt;
	padding-left: 7px;
}

/* 美发沙龙 */

.red-salon > span {
	color: #EA3232;
	font-size: 10pt;
	font-weight: bold;
}

.red-salon .line {
	display: inline-block;
    width: 92px;
    border-bottom: 1px solid #f00;
    margin-bottom: 3px;
}

.salon-text {
	color: #5f5f5f;
	border-left: 1px solid #f00;
	font-size: 7pt;
	padding-left: 7px;
}






