/* 设置element1 */
/* 设置导航条的样式 */
.navbar {
	position: absolute;
	top: 20px;
	width: 1200px;
	z-index: 1;
}

/* 设置第二个element2 */

/* 设置carousel的宽度，设置为固定宽度 */
.carousel {
	height: 500px;
	background-color: #777;
}


/* 设置三个幻灯片的统一样式*/
.item {
	margin-top: 440px;
	color: #fff;
} 


/* 设置file://特殊样式 */
.protocol {
	width: 84px;
	display: inline-block;
	border-radius: 3px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 14pt;
	letter-spacing: 4px;
	color: #C7254E;
	background-color: #F9F2F4;
	text-shadow: 0 0 1px #f00;
}

/* 设置第三个element3 */

.element3 { margin-top: 140px; }


/* 设置网格系统中圆形的样式 */
.img {
	width: 140px;
	height: 140px;
	background-color: #777;
	margin-bottom: -10px;
}

/* 设置分割线的样式 */
hr {
	margin-top: 110px;
	margin-bottom: 84px;
}

/* 调节最后一个hr的下外边距 */
hr.last-hr { margin-bottom: 50px; }

/* 设置第一个图片说明网格系统 */

/* 设置文字说明部分距上方的距离 */
.text-introduction { margin-top: 126px; }

/* 设置标题文字的大小 */
.h1 { font: 40pt "Arial"; }

/* 设置Genernic Placeholder image的外边框 */
.img-intro span {
	display: inline-block;
	border: 1px solid #ccc;
}

/* 设置页面底部内容 */
.footer {
	margin-bottom: 20px;
}